.coins-main{
    width: 97.5%;
    padding: 1rem 1rem 4rem 1rem;
background-color: white;
}
.coin-logo{
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
}
.coins{
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 0rem 1rem 0rem 1rem;
    margin: 0rem 4rem;
    width: 10rem;
}
.coin-main{
    display: flex;
    gap:0.5rem;
    align-items: center;
    /* border: 1px solid black; */
}
.coin-price{
    margin: -0.5rem 0.4rem 1rem 0.4rem;
    font-size: 1.5rem;
}