.sentiments{
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0rem;
    background-color: white;

}
.sentiment-blog{
    /* display: flex;
    flex-direction: column; */
    width: 50rem;
    height: 12rem;
}
.blog{
    display: flex;
    border-radius: 1rem;
    padding: 0rem 1rem;
    width: 20rem;
    height: 12rem;
    background-color: lightskyblue;
}
.blog-img{
    border: 1px solid red;
    height: 2rem;
    width: 2rem;
}
.blog-para{
    border: 1px solid red;
}
.analtic-img{
    margin-top: -1rem;
    width: 40rem;
}
.slick-slide > div {
    margin: 0 20px;
    padding: 0rem;
}