.team{
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0rem;
    background-color: white;
}
.team-mates{
    display: flex;
    text-align: center;
    gap:1rem;
    border-radius: 1rem;
    background-color: lightskyblue;
    margin: 1rem 0rem;
}
.teamImg{
    border-radius: 0.5rem;
    height: 6rem;
    width: 5rem;
    margin: 1rem 1.5rem -.8rem 1.5rem;
}
.team-mate-name{
 margin-top: -1rem;
}
.team-mate-para{
    text-align: left;
    margin-top: 2rem;
}