.Trading{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 1rem;
}
.trading-main{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.coin-images{
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
}