.App {
  text-align: left;
  background-color: whitesmoke;
}
.App-main{
  display: flex;
  margin: 0rem 3rem;
  gap: 1.5rem;
}

.App-left{
  padding: 2rem;
  width: 98rem;
}

.App-right{
  /* border: 1px solid gray; */
  width: 55rem;
}
.headline{
  margin-left: 5rem;
}